In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from adjustText import adjust_text
from matplotlib.patches import Circle
import os
import pickle
from scipy.stats import mannwhitneyu, ttest_ind, kruskal, f_oneway
from statannotations.Annotator import Annotator
from itertools import combinations

In [3]:
df_food_scaled = pd.read_csv('df_food_scaled.csv')

C:\Users\Sophie\AppData\Local\Temp\ipykernel_19940\4074791732.py:1: DtypeWarning: Columns (1,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_food_scaled = pd.read_csv('df_food_scaled.csv')

In [4]:
df_nuts_seeds = df_food_scaled[df_food_scaled['food_group'] == 'nuts_seeds']
df_nuts_seeds.drop_duplicates('combined_name')[['combined_name', 'QI', 'DI', 'NB']].sort_values('QI', ascending=False)

,combined_name,QI,DI,NB
285457,Migros Bio - Flohsamenschalen,4.109424,0.068795,69.360021
296179,Bar Nuts Mix (ültje ),3.333529,0.677862,78.858655
284684,Migros Bio Squash seeds,2.013136,0.577937,62.787972
300089,Coop Naturaplan Bio - Kürbiskerne,1.984365,0.567958,62.319045
76976,Pumpkin seeds,1.831234,0.575051,60.146978
...,...,...,...,...
300550,Seeberger Macadamia Nuts,0.026743,0.764815,2.674258
292764,"Morga - Tropic Mix, Mischung aus Trockenfrücht...",0.018657,0.683990,1.865672
314606,Seeberger - geröstete Macadamias,0.009604,0.700417,0.960363
316717,Mélange randonnée - Nectaflor,0.000000,0.576527,0.000000
311518,ültje - GeNuss Mix (geröstet & gesalzen),0.000000,0.000000,0.000000

In [5]:
df_nuts_seeds[df_nuts_seeds['combined_name'] == 'Seeberger Macadamia Nuts']

,food_id,barcode,dish_id,eaten_quantity,eaten_unit,subject_key,eaten_at,eaten_at_utc_offset,media_count,food_group_cname,...,protein_eaten_ratio_scaled,fat_eaten_ratio_scaled,fatty_acids_saturated_eaten_ratio_scaled,cholesterol_eaten_ratio_scaled,sugar_eaten_ratio_scaled,sodium_eaten_ratio_scaled,salt_eaten_ratio_scaled,QI,DI,NB
300550,9334,4008258046029,347808,40.0,g,96kvtm,2022-03-22 22:13:54,60,0,vegetables_fruits,...,0.534852,2.577669,1.563252,0.0,0.095238,0.0,0.352734,0.026743,0.764815,2.674258
300551,9334,4008258046029,221525,80.0,g,jzr7wb,2021-05-07 10:51:45,120,0,vegetables_fruits,...,0.534852,2.577669,1.563252,0.0,0.095238,0.0,0.352734,0.026743,0.764815,2.674258
300552,9334,4008258046029,339945,25.0,g,a76fr8,2022-02-26 14:03:40,60,0,vegetables_fruits,...,0.534852,2.577669,1.563252,0.0,0.095238,0.0,0.352734,0.026743,0.764815,2.674258